<html>
  <head>
<link href="http://cdn.pydata.org/bokeh/release/bokeh-3.0.3.min.css
 " rel="stylesheet" type="text/css"> 
<link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-3.0.3.min.css" rel=”stylesheet” type=”text/css”>
</head>
    <body>
<h1>Our first Bokeh Graph</h1>
								         {{div| safe}}
									    </body>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.0.3.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.0.3.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.0.3.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-3.0.3.min.js"></script>
											   {{script| safe}}
</html>
